@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f9f9f9;
  font-family: sans-serif;
}

.content {
  position: relative;
  font-size: 20px;
  padding: 40px;
}

#dialog {
  background: rgba(200, 200, 200, 0.7);
  bottom: 0;
  display: none;
  font-size: 20px;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 80px 40px 40px;
  position: fixed;
  right: 0;
  top: 0;
}

body.dialog-open #dialog {
  display: block;
}
